* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.wrapper .kolom{
    top: 3rem;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #cd113b;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom deskripsi {
    font-size: 50px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    color: black;
}

h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
    font-weight: 800;
    width: 100%;
    line-height: 50px;
}

a.btn-signup {
    background: #185adb;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.btn-signup:hover {
    background: #39a2db;
    text-decoration: none;
}

a.btn-langganan {
    background: #da0037;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

a.btn-langganan:hover {
    background: #d83a56;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.title {
    color: #ffffff;
}

.footer-bottom {
    background-color: #3b5998;
    color: #fff;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
    display: flex;
    margin-top: 50px;
}

@media only screen and (max-width: 780px) {
    #myLinks {
        display: flex;
    }
    ul.navbar-nav {
        flex-direction: row;
    }
    li.nav-item a.nav-link {
        font-size: 12px;
        margin: 0 5px;
    }
}
