.footer-bottom {
    background-color: #3b5998;
    color: #fff;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
    display: flex;
    margin-top: 50px;
}
